<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synkron.pushforshawarma"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCnxU3LuWtGBqvguzzoKCVHeV7fmsD5FL0" />

        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Begin Verve Activities Declaration -->
        <activity
            android:name="com.interswitchng.techquest.vervepayment.VervePayment"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.LoginActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.VerifyPhoneActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.VerifyTokenActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.AddCardActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.ListCardsActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.base.BaseActivity"
            android:label="" >
        </activity>
        <activity
            android:name="com.interswitchng.techquest.vervepayment.PayWithExistingCardActivity"
            android:label="" >
        </activity>

        <!-- End Verve Activities -->
        <!-- begin facebook login activity declaration -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>

        <!-- end facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="e4bafaa033519fe36bc3ff03853581f81a809d8b" />

        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".OutletListingsActivity"
            android:label="@string/title_activity_outlet_listings" >
        </activity>

        <provider
            android:name=".contentproviders.OutletsContentProvider"
            android:authorities="com.synkron.pushforshawarma.contentproviders.OutletsContentProvider" >
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <service
            android:name=".services.OutletsUpdateService"
            android:enabled="true"
            android:permission="com.synkron.pushforshawarma.OUTLETS_UPDATE_SERVICE_PERMISSION" />

        <receiver
            android:name=".broadcastreceivers.DeviceBootCompleteReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceivers.OutletsUpdateAlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.synkron.pushforshawarma.ACTION_UPDATE_OUTLETS_ALARM">
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".OutletDetailsActivity"
            android:label="@string/title_activity_outlet_details">
            <intent-filter>
                <action android:name="com.synkron.pushforshawarma.ACTION_VIEW_OUTLET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
